body {
    font-family: Roboto, sans-serif;
    color: #212121;
}
:root {
    --maincolor: #757575;
    --secondarycolor: #2196F3;
    --accentcolor: #FFFFFF;
}
.logo-text {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logo-title {
    color: #000000;
}
.logo-link:active {
    color: teal;
}

.nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav-link:active {
    color: var(--secondarycolor);
}
.contacts-item > .contacts-link {
    font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--maincolor);
}
.contacts-link:active {
    color: var(--secondarycolor);
}
.hero {
    background: #2F303A
}
.hero-title {
    font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--accentcolor);
}
.hero-btn {
    background: var(--secondarycolor);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--accentcolor);
}
.preference-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.preference-text {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--maincolor);
}
.work-title,
.comand-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.comand-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.comand-text {
    font-style: normal;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--maincolor);
}